html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  cursor: default;
}

#background-canvas {
	display: block;
}

#content {
	position: fixed;		
	box-sizing: border-box;	/*box-sizing with padding! that was how to do it */
	-moz-box-sizing: border-box;
	padding: 10px;
	top: 0px;	
	bottom:55px;
	width: 100%;	
}

#content2 {
	position: relative;		
	width: 100%;
	height: 100%;	
}

.options {
	position:absolute;		
	height:120px;
	width:200px;
	box-shadow: 0px 0px 3px 2px;
    border-radius: 4px;
	text-align: right;
	font-size: 30px;
	font-family:"lucida sans";			
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 10px;
	overflow:auto;
}

#questions {
	left:200px;
	top:150px;
}

#games {
	left:500px;
	top:190px;
}


#stats {
	left:280px;
	top:330px;
}

/* questions */

#questionContent {
	text-align:center;
}

#questionContent  .question{
	padding: 10px;
	margin: 10px;
}

#questionContent  .answer{
	border: 1px black solid;
	border-radius: 4px;
}

/* stats */

#statsNav{
	overflow: auto;
}

.statsNavItem{
	float:left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 2px;
	font-size: 16px;
	text-align:center;	
	width: 33.33333333333333%;	
}

.statsNavLeagueInset{
	float:right;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px black solid;
	border-radius: 4px;
	width: 45%;
}

#statsFooter{
	position: absolute;	
	height: 20px;
	bottom:10px;
	left: 10px;
	right: 10px;
	overflow: hidden;	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.statsFooterItem{
	overflow: auto;
	float:left;
	width: 33.33333333333333%;	
	height: 20px;
}

.arrow{
	display: block;
	float:left;
}

#statsContent{	
	position: absolute;		
	top: 70px;	
	bottom:35px;
	left: 10px;
	right: 10px;
	overflow: hidden;	
	box-sizing: border-box;	
	-moz-box-sizing: border-box;
}

/* stats - nba teams*/

#nbaContent {
	overflow: hidden;
	float: left;
	max-height: 100%;	
	width: 33.33333333333%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	bottom: 0px;
}


#nbaContentLeft {
	width: 50%;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#nbaContentRight {
	width: 50%;
	float: right;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.nbaTeam {
	font-size: 16px;
	text-align:center;
	padding: 2px;
	margin: 2px;
	border: 1px black solid;
	border-radius: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* stats - fantasy teams*/

#fantasyContent {
	overflow: hidden;
	float: left;
	max-height: 100%;
	width: 33.33333333333333%;	
	box-sizing: border-box;	
	-moz-box-sizing: border-box;
	bottom: 0px;
}


.fantasyTeam {	
	padding: 2px;
	margin: 2px;
	border: 1px black solid;
	border-radius: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
}

.fantasyTeamName{
	float: left;
	width: 70%;
	font-size: 18px;
	text-align:right;
}

.fantasyTeamStat{	
	float: right;
	--position: relative; /*HERE BE PROBLEM */	
	width: 15%;
	font-size: 14px;
	text-align:center;
}

/* stats - fantasy players*/

.fantasyColumnHeader {
	position: relative;
	top: 5px;
	float: right;
	font-size: 14px;
	width: 15%;
}

#fantasyColumnHeaderG {
	width: 7.5%;
}

#fantasyColumnHeaderminG, #fantasyColumnHeaderfpG {
	width: 15%;
}


#fantasyTeamDetail, #nbaTeamDetail {
	overflow: hidden;
	max-height: 100%;
	width: 33.3333333333%;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	
}
.fantasyTeamPlayer, .nbaTeamPlayer {
	padding: 2px;
	margin: 2px;
	border: 1px black solid;
	border-radius: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
}

.fantasyTeamPlayerName, .nbaTeamPlayerName{
	float: left;
	width: 40%;
	padding-right: 5%;
	font-size: 18px;
	text-align:right;
}

.fantasyTeamPlayerStat, .nbaTeamPlayerStat{	
	float: left;
	--position: relative;	
	font-size: 14px;
	text-align:center;
	--top: 2.5px;	
}

#fantasyTeamPlayerG, #fantasyTeamPlayerPos, #nbaTeamPlayerG, #nbaTeamPlayerPos {
	width: 7.5%;
}

#fantasyTeamPlayerTeam, #nbaTeamPlayerOwner {
	width: 10%;
}

#fantasyTeamPlayerminG, #fantasyTeamPlayerfpG, #nbaTeamPlayerminG, #nbaTeamPlayerfpG {
	width: 15%;
}

/* stats - fantasy teams*/

#fantasyTeamStats {
	overflow: hidden;
	max-height: 100%;
	width: 33.3333333333%;
	float: left;
	box-sizing: border-box;	
	-moz-box-sizing: border-box;
}

#expand {
	float: left;
	margin-left: 25px;
	font-weight: bold;
}

#rgraph {
	float: right;
	--font-weight: bold;
}

.expanded {
	float: right !important;
}

#shinyNewCanvas{
	vertical-align: bottom
}

#toolTipBox {
	position: relative;
	margin-left: 25px;
	font-size: 14px;
	text-align:center;
	padding: 2px;
	border: 1px black solid;
	border-radius: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
}


/* options - boilerplate*/

#optionHeader {
	overflow: auto;	
}

#optionTitle {
	font-size: 22px;
	float:left;
}

#close {
	float:right;
}

a{
	text-decoration: none;
}

#footer {
	position: fixed;
	bottom: 5px;
	height: 50px;
	width: 100%;
}

#footer a {
	float: right;
	margin-right: 5px;
}

#footer img {
	display: block;
	border: 0px;
}